{% extends "UserBundle::layout1.html.twig" %}

{% block body %}

    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"><a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a
                        href="{{ path('departement_homepage') }}" class="current">service</a></div>
            <h1>Gestion des services</h1>
        </div>
        <div class="container-fluid">
            <hr>
            <div class="row-fluid">
                <div class="span12">
                    <a class="btn btn-inverse pull-right" href="{{ path('ajouterService') }}">Ajouter <i
                                class="fa fa-plus-square"
                                aria-hidden="true"></i></a>
                    <div class="widget-box">
                        <div class="widget-content nopadding">
                            <table class="table table-bordered data-table">
                                <thead>
                                <tr>
                                    <th>Département</th>
                                    <th>Nom de service</th>
                                    <th>Description</th>
                                    <th>Image</th>
                                    <th>Rating</th>
                                    <th>Operations</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for service in services %}
                                    <tr class="gradeX">
                                        <td><a href="{{ path('afficherDepartement', {'id': service.departement.id}) }}"
                                               class="profile-link"> {{ service.departement.nom }} </a></td>
                                        <td>{{ service.nom }}</td>
                                        <td>{{ service.description }}</td>
                                        <td><img src="{{ asset('images/') }}{{ service.monImage }}"
                                                 style="width:200px;height:100px"></td>
                                        <td>{{ service.rating|rating(5) }}
                                        </td>
                                        <td><a href="{{ path('modifierService',{'id':service.id }) }}"
                                               style="color: #428bca;">
                                                <i class="fa fa-edit fa-2x"></i></a>
                                            <a href="{{ path('supprimerService',{'id':service.id }) }}"
                                               style="color: red"><i class="fa fa-trash-o fa-2x"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}