{% extends "UserBundle::layout1.html.twig" %}
{% block body %}

    <div id="content">
    <div id="content-header">
        <div id="breadcrumb"><a href="{{ path('Dashboard') }}" title="Go to Home" class="tip-bottom"><i
                        class="icon-home"></i> Home</a> <a href="">Services</a> <a
                    href="{{ path('service_homepage') }}" class="current">Modifier Service</a></div>
        <h1>Modifier Services</h1>
    </div>

    <div class="container-fluid">
        <hr>
        {{ form_start(form) }}

        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-info-sign"></i> </span>
                        <h5>Modifier Services</h5>
                    </div>
                    <div class="control-group">
                        <h6>Modifier le département correspondant</h6>
                        <div class="controls">{{ form_widget(form.departement) }} </div>
                    </div>
                    <div class="widget-content nopadding">
                        <h6>Modifier Nom</h6>

                        <div class="control-group">

                            <div class="controls">
                                {{ form_widget(form.nom) }} </div>
                        </div>
                        <div class="control-group">
                            <h6>Modifier Description</h6>
                            <div class="controls">{{ form_widget(form.description) }} </div>
                        </div>

                        <div class="control-group">
                            <h6>Modifier l'image</h6>
                            <div class="controls">{{ form_widget(form.file) }} </div>
                        </div>
                        <div class="form-actions">
                            {{ form_widget(form.Save) }}

                        </div>
                    </div>

                </div>
            </div>

        </div>
        {{ form_end(form) }}

    </div>


{% endblock %}