
{% extends "base.html.twig" %}
{% block stylesheets %}

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

{% endblock %}

{% block content %}


    <div class="gap gap"></div>


    <div class="container">
        <div class="row">


            <div class="col-md-3">
                <aside class="sidebar-left">
                    <ul class="nav nav-pills nav-stacked nav-arrow">

                        <li class="active"><a href="{{ path('publicite_index') }}">Mes publicites</a>

                        </li>
                        <div class="gap gap-small"></div>
                        <li>  </li>

                    </ul>
                    <div class="btn btn-group-vertical">
                            <div class="gap gap-small"></div>
                        <a  href="{{ path('publicite_new') }}" class="btn btn-success"><div class="fa  fa-plus-square"></div>    Ajouter une publicité</a>
                        <a href="{{ path('chart_publicite') }}" class="btn btn-warning"><div class="fa  fa-bar-chart-o"></div> Mes statistiques</a>
                        <a href="{{ path('pdf') }}" class="btn btn-inverse"><div class="fa fa-file-pdf-o"></div> Extrait PDF</a>
                    </div>
                </aside>
            </div>


            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
           <div class="col-md-9" class="chartjs-wrapper"><canvas id="chartjs-1" class="chartjs" width="undefined" height="undefined"></canvas>
                <script>
                    var dataSQL=[];
                    var dataNames=[];
                </script>
                    {% for publicite in publicites %}
                    {% if app.user.id == publicite.user.id %}

                        <script>
                    dataSQL.push({{ publicite.nbClick }});
                    dataNames.push("{{ publicite.text }}");
                        </script>
                    {% endif %}
                    {% endfor %}

               <div class="chartjs-wrapper"><canvas id="chartjs-1" class="chartjs" width="undefined" height="undefined"></canvas>
                   <script>new Chart(document.getElementById("chartjs-1"),{"type":"bar","data":{"labels":dataNames,"datasets":[{"label":"Nbre de clicks","data":dataSQL,"fill":false,
                  "backgroundColor":["rgba(255, 99, 132, 0.2)","rgba(255, 159, 64, 0.2)","rgba(255, 205, 86, 0.2)","rgba(75, 192, 192, 0.2)","rgba(54, 162, 235, 0.2)","rgba(153, 102, 255, 0.2)","rgba(201, 203, 207, 0.2)"],
                "borderColor":["rgb(255, 99, 132)","rgb(255, 159, 64)","rgb(255, 205, 86)","rgb(75, 192, 192)","rgb(54, 162, 235)","rgb(153, 102, 255)","rgb(201, 203, 207)"],"borderWidth":1}]},
                "options":{"scales":{"yAxes":[{"ticks":{"beginAtZero":true}}]}}});</script></div>



            </div>
        </div>

    </div>
    <div class="gap gap-small"></div>




{% endblock %}
