

<div class="TTProduct-Tab TT-product-carousel products-list">
    <div class="tthometab">

<div class="tab-content">
    <div id="tab-featured-0" class="tab-pane row active">
        <div class="products-carousel owl-carousel owl-theme" style="opacity: 1; display: block;">
            <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 6160px; left: 0px; display: block;">



                            <div class="owl-item" style="width: 280px;"><div class="product-layouts">
                            <div class="product-thumb transition">
                                <div class="image">
                                    <a href="{{ path('publicite_show', { 'idPub': publicites.idPub }) }}">
                                        <img class="image_thumb"  src="{{ asset(publicites.image) }}" title="perspiciatis unde omnis" alt="perspiciatis unde omnis">
                                        <img class="image_thumb_swap"  src="{{ asset(publicites.image) }}" title="perspiciatis unde omnis" alt="perspiciatis unde omnis">
                                    </a>

                                </div>

                                <div class="caption">



                                    <h4><a href="{{ path('publicite_show', { 'idPub': publicites.idPub }) }}"> {{ publicites.description | raw }}</a></h4>

                                    <div class="price">
                                        {{ publicites.text }}

                                        <span class="price-tax">Without tax: $10.00</span>
                                    </div>

                                </div>
                                <div class="button-group">
                                    <a href="{{ path('reservation_new' ) }}" ><button class="btn-wishlist" title="Reserver" ><i class="fa fa-heart"></i>
                                            <span title="Reserver">Reserver</span>
                                        </button></a>
                                </div>

                            </div>






                                </div></div>



        <div class="owl-item" style="width: 280px;"><div class="product-layouts">
                <div class="product-thumb transition">
                    <div class="image">
                        <a href="{{ path('publicite_show', { 'idPub': publicites2.idPub }) }}">
                            <img class="image_thumb"  src="{{ asset(publicites2.image) }}" title="perspiciatis unde omnis" alt="perspiciatis unde omnis">
                            <img class="image_thumb_swap"  src="{{ asset(publicites2.image) }}" title="perspiciatis unde omnis" alt="perspiciatis unde omnis">
                        </a>

                    </div>

                    <div class="caption">



                        <h4><a href="{{ path('publicite_show', { 'idPub': publicites2.idPub }) }}"> {{ publicites2.description | raw }}</a></h4>

                        <div class="price">
                            {{ publicites2.text }}

                            <span class="price-tax">Without tax: $10.00</span>
                        </div>

                    </div>
                    <div class="button-group">
                        <a href="{{ path('reservation_new2' ) }}" ><button class="btn-wishlist" title="Reserver" ><i class="fa fa-heart"></i>
                                <span title="Reserver">Reserver</span>
                            </button></a>
                    </div>

                </div>






            </div></div>



                    <div class="owl-item" style="width: 280px;"><div class="product-layouts">
                            <div class="product-thumb transition">
                                <div class="image">
                                    <a href="{{ path('publicite_show', { 'idPub': publicites3.idPub }) }}">
                                        <img class="image_thumb"  src="{{ asset(publicites3.image) }}" title="perspiciatis unde omnis" alt="perspiciatis unde omnis">
                                        <img class="image_thumb_swap"  src="{{ asset(publicites3.image) }}" title="perspiciatis unde omnis" alt="perspiciatis unde omnis">
                                    </a>

                                </div>

                                <div class="caption">



                                    <h4><a href="{{ path('publicite_show', { 'idPub': publicites3.idPub }) }}"> {{ publicites3.description | raw }}</a></h4>

                                    <div class="price">
                                        {{ publicites3.text }}

                                        <span class="price-tax">Without tax: $10.00</span>
                                    </div>

                                </div>
                                <div class="button-group">
                                    <a href="{{ path('reservation_new3' ) }}" ><button class="btn-wishlist" title="Reserver" ><i class="fa fa-heart"></i>
                                            <span title="Reserver">Reserver</span>
                                        </button></a>
                                </div>

                            </div>






                        </div></div>



                    <div class="owl-item" style="width: 280px;"><div class="product-layouts">
                            <div class="product-thumb transition">
                                <div class="image">
                                    <a href="{{ path('publicite_show', { 'idPub': publicites4.idPub }) }}">
                                        <img class="image_thumb"  src="{{ asset(publicites4.image) }}" title="perspiciatis unde omnis" alt="perspiciatis unde omnis">
                                        <img class="image_thumb_swap"  src="{{ asset(publicites4.image) }}" title="perspiciatis unde omnis" alt="perspiciatis unde omnis">
                                    </a>

                                </div>

                                <div class="caption">



                                    <h4><a href="{{ path('publicite_show', { 'idPub': publicites4.idPub }) }}"> {{ publicites4.description | raw }}</a></h4>

                                    <div class="price">
                                        {{ publicites4.text }}

                                        <span class="price-tax">Without tax: $10.00</span>
                                    </div>

                                </div>
                                <div class="button-group">
                                    <a href="{{ path('reservation_new4' ) }}" ><button class="btn-wishlist" title="Reserver" ><i class="fa fa-heart"></i>
                                            <span title="Reserver">Reserver</span>
                                        </button></a>
                                </div>

                            </div>






                        </div></div>




                    <div class="owl-item" style="width: 280px;"><div class="product-layouts">
                            <div class="product-thumb transition">
                                <div class="image">
                                    <a href="{{ path('publicite_show', { 'idPub': publicites5.idPub }) }}">
                                        <img class="image_thumb"  src="{{ asset(publicites5.image) }}" title="perspiciatis unde omnis" alt="perspiciatis unde omnis">
                                        <img class="image_thumb_swap"  src="{{ asset(publicites5.image) }}" title="perspiciatis unde omnis" alt="perspiciatis unde omnis">
                                    </a>

                                </div>

                                <div class="caption">



                                    <h4><a href="{{ path('publicite_show', { 'idPub': publicites5.idPub }) }}"> {{ publicites5.description | raw }}</a></h4>

                                    <div class="price">
                                        {{ publicites5.text }}

                                        <span class="price-tax">Without tax: $10.00</span>
                                    </div>

                                </div>
                                <div class="button-group">

                                    <a href="{{ path('reservation_new5' ) }}" ><button class="btn-wishlist" title="Reserver" ><i class="fa fa-heart"></i>
                                            <span title="Reserver">Reserver</span>
                                        </button></a>

                                </div>

                            </div>






                        </div></div>

</div></div></div></div></div>
    </div></div>