{% extends "base.html.twig" %}
{% block stylesheets %}

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ asset('css/font_awesome.css') }}">
{% endblock %}

{% block content %}
    <head> <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>


    </head>

    <div class="gap gap"></div>


    <div class="container">
        <div class="row">


        <div class="col-md-3">
                <aside class="sidebar-left">
                    <ul class="nav nav-pills nav-stacked nav-arrow">

                        <li class="active"><a href="{{ path('publicite_index') }}">Mes publicites</a>

                        </li>

                        <div class="gap gap-small"></div>
                        <li>  </li>

                    </ul>
                    <div class="btn btn-group-vertical">
                       <form> <input id="text" type="text"  name="titre" placeholder="Rechercher"></form>
                        <div class="gap gap-small"></div>
                        <a  href="{{ path('publicite_new') }}" class="btn btn-success"><div class="fa  fa-plus-square"></div>    Ajouter une publicité</a>
                        <a href="{{ path('chart_publicite') }}" class="btn btn-warning"><div class="fa  fa-bar-chart-o"></div> Mes statistiques</a>
                        <a href="{{ path('pdf') }}" class="btn btn-inverse"><div class="fa fa-file-pdf-o"></div> Extrait PDF</a>
                    </div>
                </aside>
            </div>
            <div class="col-md-9">

                <div class="category-products">
                    <div class="row">
                        <div  id="res">
                            {% for publicite in publicites2 %}
                            {% if app.user.id == publicite.user.id %}
                            <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="product-thumb row">
                                    <div class="image col-xs-12">
                                        <a href="{{ path('publicite_show', { 'idPub': publicite.idPub }) }}">
                                            <img class="image_thumb" src="{{ asset(publicite.image) }}" title="{{ publicite.text }}" alt="{{ publicite.text }}">
                                            <img class="image_thumb_swap" src="{{ asset(publicite.image) }}" title="{{ publicite.text }}" alt="{{ publicite.text }}">
                                        </a>

                                    </div>
                                    <div class="thumb-description col-xs-12">
                                        <div class="caption">

                                            <h4><a href="{{ path('publicite_show', { 'idPub': publicite.idPub }) }}">{{ publicite.text }}</a></h4>
                                            <div class="rating no-rating">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>


                                            <div class="price">
                                                {{ publicite.description | raw }}
                                            </div>

                                        </div>
                                        <div class="button-group">
                                            <a href="{{ path('publicite_show', { 'idPub': publicite.idPub }) }}" ><button class="btn-cart " type="button" title="Afficher">

                                                    <i class="fa fa-shopping-cart"></i><span class="hidden-xs hidden-sm hidden-md">Afficher
</span></button></a>
                                            <a href="{{ path('publicite_edit', { 'idPub': publicite.idPub }) }}" ><button class="btn-wishlist" title="Modifier" ><i class="fa fa-heart"></i>
                                                    <span title="Modifier">Modifier</span>
                                                </button></a>
                                            <a href="{{ path('publicite_delete', {'idPub': publicite.idPub }) }}"><button class="btn-quickview" title="Supprimer" > <i class="fa fa-exchange"></i>
                                                    <span title="Supprimer">Supprimer</span>
                                                </button></a>


                                        </div>
                                    </div>
                                </div>
                            </div>

                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                <div class="navigation text-center">
                    {{ knp_pagination_render(publicites2) }}

                </div>

            </div>
        </div>

    </div>
    <div class="gap gap-small"></div>






    <script src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script>

        $('#text').keyup(function(){
            var input= $("#text").val();
            $.ajax({
                type: "POST",
                url: "{{ path('recherche_publicite') }}",
                data: {'text': input},
                success: function (data) {

                    console.log(data);

                    $("#res").html(data);


                }
            });

        });

    </script>
{% endblock %}
