{% extends "UserBundle::layout.html.twig" %}

{% block body %}
    <!--=========== BEGAIN Home Blog SECTION ================-->
    <section id="homeBLog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="homBlog-area">
                        <!-- Start Service Title -->
                        <div class="section-heading">
                            <h2 style="font-family: Agency FB; font-size: 35px">Article choisi à lire</h2>
                            <div class="line"></div>
                        </div>
                        <!-- Start Home Blog Content -->
                        <div class="homeBlog-content">
                            <div class="row">

                                {% for blog in blogs %}
                                    <!-- Start Single Blog -->
                                    <div class="col-lg-10 col-md-10 col-sm-10">
                                        <div class="single-Blog">
                                            <div class="single-blog-left">
                                                <ul class="blog-comments-box">
                                                    <li>{{ blog.created|date("M") }}
                                                        <h2>{{ blog.created|date("d") }}</h2>{{ blog.created|date("y") }}
                                                    </li>
                                                    <li><span class="fa fa-eye"></span>{{ vues|length }}</li>
                                                    <li><a href={{ path('addview',{'id':blog.id}) }}>
                                                            <span
                                                                    class="fa fa-comments"></span>{{ blog.comment|length }}
                                                        </a></li>
                                                </ul>
                                            </div>
                                            <div class="single-blog-right">
                                                <div class="blog-img">
                                                    <figure class="blog-figure">
                                                        <img
                                                                src="{{ asset ('image/') }}{{ blog.nomImage }}"
                                                                alt="img">
                                                        <span class="image-effect"></span>
                                                    </figure>
                                                </div>
                                                <div class="blog-author " style="font-size: 18px">
                                                    <p>Publié par <span
                                                                class="highlight"><b>{{ blog.author }}</b></span>
                                                        à {{ blog.created|date('h:iA') }}</p>
                                                </div>

                                                <div class="blog-content"
                                                     style="font-family: Agency FB; font-size: 19px">

                                                    <h2 style="color: limegreen">{{ blog.title }}</h2>
                                                    <fieldset>
                                                        <p>{{ blog.contenu }}</p>
                                                    </fieldset>

                                                    <div class="like " style="text-align: right">
                                                                <span title="{% if isliked %}Vous avez deja aimé cet article{% endif %}">
                                                                    <a class="fa fa-thumbs-up like-btn"
                                                                       style="font-size: 35px; {% if isliked %}pointer-events: none;{% endif %}"
                                                                       href="{{ path('addlikes',{'id':blog.id}) }}"></a>
                                                                    {{ likes|length }}

                                                                </span>

                                                        <span title="{% if isdisliked %}Vous n'avez pas aimé cet article{% endif %}">
                                                                    <a class="fa fa-thumbs-o-down dislike-btn"
                                                                       style="margin-left: 20px;font-size: 35px ;{% if isdisliked %}pointer-events: none;{% endif %}"
                                                                       href="{{ path('adddislikes',{'id':blog.id}) }}"></a>
                                                            {{ dislikes|length }}

                                                                </span>


                                                    </div>

                                                </div>

                                                <div>

                                                    <strong style="font-size: 25px;font-family: 'Agency FB'">Restez au
                                                        contact de l'équipe en nous suivant sur les réseaux sociaux
                                                        !</strong></div>
                                                <div class="social-share"
                                                     style="float: right">
                                                    {{ socialButtons() }}</div>


                                                <div class="comment"
                                                     style="font-family: 'Agency FB; font-size: 18px;  ">


                                                    <h4 style="font-family: Agency FB; font-size: 35px">
                                                        <b>Commentaires <i class="fa fa-comment"></i></b>
                                                    </h4>

                                                    {% for comment in blog.comment %}
                                                        <article
                                                                class="comment {{ cycle(['odd', 'even'], loop.index0) }}"
                                                                id="comment-{{ comment.id }}">
                                                            <header>
                                                                <p><span><img style="border-radius: 50%;"
                                                                              src="{{ asset('images/') }}{{ app.user.photo }}"
                                                                              alt="" width=" 40"
                                                                              height="40"></span>
                                                                    <b><span class="highlight"
                                                                             style="font-family: 'Agency FB';font-size: 22px;color: #1e7e34">{{ comment.user.nom }} {{ comment.user.prenom }}</span></b>
                                                                    <time class="timeago"
                                                                          style="font-family: 'Agency FB';font-size: 20px"
                                                                          datetime="{{ comment.updated|date }}">
                                                                    </time>
                                                                </p>
                                                            </header>
                                                        </article>


                                                        <li class="dropdown"
                                                            style="font-family: Agency FB; font-size: 18px">
                                                            <span id="commentbb{{ comment.id }}">
                                                                {{ comment.comment }}
                                                            </span>


                                                            {% if is_granted("ROLE_CLIENT") or is_granted("ROLE_MEDECIN") %}
                                                                {% if comment.user.id == app.user.id %}
                                                                    <a href="#" class="dropdown-toggle"
                                                                       data-toggle="dropdown"
                                                                       role="button"
                                                                       aria-expanded="false"><span
                                                                                class="fa fa-angle-down"></span>
                                                                    </a>
                                                                    <ul class="dropdown-menu" style="font-size: 18px"
                                                                        role="menu">
                                                                        <li>
                                                                            <a class="modifer_comment"
                                                                               data-id="{{ comment.id }}" href="#">
                                                                        <span
                                                                                class="fa fa-edit">
                                                                        </span> Modifier</a>
                                                                        </li>


                                                                        <li>
                                                                            <a href="{{ path('suppcomment',{'id':comment.id, 'blogId':blog.id}) }}">
                                                                        <span
                                                                                class="fa fa-trash">

                                                                        </span>
                                                                                Supprimer</a>
                                                                        </li>
                                                                    </ul>
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if is_granted("ROLE_MEDECIN") %}
                                                                {% if comment.user.id != app.user.id %}
                                                                    <a href="#" class="dropdown-toggle"
                                                                       data-toggle="dropdown"
                                                                       role="button"
                                                                       aria-expanded="false"><span
                                                                                class="fa fa-angle-down"></span></a>
                                                                    <ul class="dropdown-menu" style="font-size: 18px"
                                                                        role="menu">

                                                                        <li>

                                                                            <a href="{{ path('suppcomment',{'id':comment.id, 'blogId':blog.id}) }}">
                                                                        <span
                                                                                class="fa fa-trash">

                                                                        </span>
                                                                            </a> Supprimer</a>
                                                                        </li>

                                                                        {% if comment.user.enabled == 1 %}
                                                                            <td>
                                                                                <span class="label label-success">Activé</span>
                                                                            </td>
                                                                        {% else %}
                                                                            <td>
                                                                                <span class="label label-warning">Désactivé</span>
                                                                            </td>
                                                                        {% endif %}
                                                                        {% if comment.user.enabled == 1 %}
                                                                            <td>
                                                                                <a href="{{ path('bloquerClient',{'id':comment.user.id}) }}"><i
                                                                                            style="color: red"
                                                                                            class="fa fa-ban fa-2x"></i></a>

                                                                            </td>
                                                                        {% else %}
                                                                            <td>
                                                                                <a href="{{ path('debloquerClient',{'id':comment.user.id }) }}"><i
                                                                                            style="color: green"
                                                                                            class="fa fa-check fa-2x"></i></a>
                                                                            </td>
                                                                        {% endif %}

                                                                    </ul>
                                                                {% endif %}
                                                            {% endif %}
                                                        </li>

                                                        <hr>
                                                    {% else %}
                                                        <p style="font-family: Agency FB; font-size: 20px">
                                                            Il ne figure aucun commentaire pour cette publication. Soyez
                                                            le
                                                            premier à commenter...</p>
                                                    {% endfor %}
                                                    {% if app.user %}
                                                        <h3 style="font-family: Agency FB;font-size: 35px">Laissez un
                                                            commentaire</h3>
                                                        <div class=" comment-bottom">
                                                            <form action="{{ path('ajoutcomment') }}">
                                                                <input type="hidden" value="{{ blog.id }}"
                                                                       name="BlogId">
                                                                <input type="text"
                                                                       style="border-radius: 8px;font-size: 20px"
                                                                       placeholder="Votre commentaire..."
                                                                       name="commentaire">

                                                                <input type="submit" style="background-color: #4CAF50; border: none;color: white;font-family: Agency FB;
                                                                                     padding: 5px;
                                                                                     text-align: center;
                                                                                     text-decoration: none;
                                                                                     display: inline-block;
                                                                                     font-size: 20px;
                                                                                     margin: 4px 2px;
                                                                                     border-radius: 8px;
                                                                                     cursor: pointer;"
                                                                       value="Commenter">
                                                            </form>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=========== End Home Blog SECTION ================-->
    <script src="{{ asset ('front/js/jquery.js') }}"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery("time.timeago").timeago();
        });
    </script>

    {% block javascript %}

        <script src="{{ asset('admin/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('admin/js/bootbox/bootbox.min.js') }}"></script>

        <script>
            $(".modifer_comment").on("click", function (e) {
                e.preventDefault();
                var commentaire_id = $(this)[0].getAttribute("data-id")
                var commentaire = $("#commentbb" + commentaire_id).html().trim();
                console.log(commentaire);
                console.log(commentaire_id);
                bootbox.prompt({
                    size: "small",
                    title: "Modifier votre commentaire :",
                    value: commentaire,
                    callback: function (result) {
                        if (result !== null) {
                            console.log(result);
                            $.ajax({
                                type: 'GET',
                                url: "{{ path('modifcomment') }}",
                                data: {commentaire_id: commentaire_id, commentaire: result},
                                dataType: 'json',

                                success: function (data) {
                                    console.log(data);
                                    $("#commentbb" + commentaire_id).html(result);
                                }
                            });
                        }
                    }
                })
            });

        </script>

    {% endblock %}
{% endblock %}