{% extends "UserBundle::layout1.html.twig" %}

{% block body %}

    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"><a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
                <a href="{{ path('AdminForum') }}" class="current">Forum</a></div>


            <h1>Liste Commentaires de l'article choisi</h1><br>
            <a href="{{ path('AdminForum') }}"
               style="color: red"><button>Retour au liste des articles</button> </a>


        </div>
        <div class="container-fluid">

            <div class="row-fluid">
                <div class="span12">

                    <div class="widget-box">
                        <div class="widget-content nopadding">


                            <table class="table table-bordered data-table">

                                <thead>

                                <tr>
                                    <th>Utilisateur</th>
                                    <th>Date de publication</th>
                                    <th>Commentaire</th>
                                    <th>Supprimer ce commentaire</th>
                                </tr>
                                </thead>
                                <tbody>

                                    {% for comment in comments %}
                                    <tr class="gradeX">
                                        <td>{{ comment.user}}</td>
                                        <td>{{ comment.updated|date }}</td>
                                        <td>{{ comment.comment }}</td>
                                        <td>
                                            <a href="{{ path('AdminsuppCom',{'id':comment.id}) }}"
                                               style="color: red"><i class="fa fa-trash-o fa-2x"></i></a>
                                        </td>


                                    </tr>
                                    {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}