{% extends 'base.html.twig' %}
{% block test %}
{% endblock %}
{% block content %}
    <script src="{{ asset ('jquery/jquery-3.3.1.js') }}"></script>
    <section id="intro1" class="clearfix">
    </section>

<div class="text-right" style="margin-top: 30px">
    <a href="{{ absolute_url(asset('')) }}app_dev.php/CreateR" class ="btn btn-primary btn-xs" id="yes">Create Reclamation</a>

</div>
    <div id ="div" style="margin-top: 45px"  >
       <div class="text-center">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="objet">objet</th>
                <th scope="contenu">contenu</th>
                <th scope="etat">etat</th>
                <th scope="type">type</th>
                <th scope="reponse">reponse</th>
                <th scope="date">date</th>
                <th scope="action">action</th>

            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr class="table-active">
                    <td>{{ post.objet }}</td>
                    <td>{{ post.contenu }}</td>
                    <td>{{ post.etat }}</td>
                    <td>{{ post.type }}</td>
                    <td>{{ post.reponse }}</td>
                    <td>{{ post.date|date('Y-m-d') }}</td>
                    <td>
                        <a href="{{ absolute_url(asset('')) }}app_dev.php/EditR/{{ post.id}}" class ="btn btn-success btn-xs">Edit</a>
                        <a href="{{ absolute_url(asset('')) }}app_dev.php/DeleteR/{{ post.id}}" class ="btn btn-danger btn-xs">Delete</a>
                    </td>

                </tr>
            {% else %}
                <tr>
                    <td>no records !!!</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

       </div>
    </div>
{% endblock %}