{% extends 'baseAdmin.html.twig' %}
{% block stylesheets %}

    {{ parent() }}
<link href="{{ asset('back/assets/vendors/custom/datatables/datatables.bundle.css') }}" rel="stylesheet"
      type="text/css"/>

    {% endblock %}
    {% block content %}
<div class="kt-portlet__body" id="Rec" >

    <script src="{{ asset ('jquery/jquery-3.3.1.js') }}"></script>
    <!--begin: Datatable -->
    <table class="table table-hover" id="idr" >
        <thead>

        </thead>
        <tbody >
        {% for post in posts %}
            <label id="label2" num="{{ post.id }}" style="display: none;"> </label>
            <tr class="table-active"   >
                 <td align="center">Objet : {{ post.objet }}    </td>


                <td align="center">Contenu : {{ post.contenu }}    </td>


                <td align="center">Etat : {{ post.etat }}  </td>
            </tr>

            <tr class="table-active"   >

                <td align="center">Type : {{ post.type }}  </td>


                <td align="center">Reponse : {{ post.reponse }}    </td>


                <td align="center">Date :{{ post.date }}       </td>
            </tr>
        {% else %}
            <tr>
                <td>no records !!!</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>


    <div class="form-group">
        <label for="exampleFormControlInput1">Reponse</label>
        <input type="text" class="form-control"  placeholder="Tapez la reponse" id ="rep">
    </div>
    <div class="text-center">
    <select  style="width: 250px" class="custom-select" id="et">
        <option value="Choix">Changer l'etat de la reclamation</option>

        <option value="En cours">En cours</option>

        <option value="Traitée">Traitée</option>
    </select>
    </div>
    <button class="btn btn-primary" type="submit" id ="save">   Enregister</button>
    <!--end: Datatable -->
<script>
    $("#save").click(function () {

        var label = $('#label2');
        var id = label.attr('num');

        var rep = $("#rep").val();

        var etat=$('#et option:selected').text();
        if(!etat.match('Choix')) {
            $.ajax({
                type: 'POST',
                url: '{{ absolute_url(asset('')) }}app_dev.php/admin/SaveRec',
                data: {id: id, rep: rep, etat: etat},
                success: window.location.reload()
            })
        }

    })




</script>



</div>

    {% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('back/assets/vendors/custom/datatables/datatables.bundle.js') }}"
            type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('#kt_table_2').DataTable();
        });
    </script>
{% endblock %}

