{% extends "UserBundle::layout1.html.twig" %}

{% block body %}

    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"><a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a
                        href="{{ path('departement_homepage') }}" class="current">Département</a></div>
            <h1>Gestion Départements</h1>
        </div>
        <div class="container-fluid">
            <hr>
            <div class="row-fluid">
                <div class="span12">
                    <a class="btn btn-inverse pull-right" href="{{ path('ajouterDepartement') }}">Ajouter <i
                                class="fa fa-plus-square"
                                aria-hidden="true"></i></a>
                    <div class="widget-box">
                        <div class="widget-content nopadding">
                            <table class="table table-bordered data-table">
                                <thead>
                                <tr>

                                    <th>Nom</th>
                                    <th>Description</th>
                                    <th>Services</th>
                                    <th>Image</th>
                                    <th>Opérations</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for departement in departements %}
                                    <tr class="gradeX">
                                        <td>{{ departement.nom }}</td>
                                        <td>{{ departement.description }}</td>
                                        <td><a href="{{ path('depservice', {'id': departement.id}) }}"
                                               class="profile-link"> {{ departement.service|length }} </a></td>
                                        <td><img src="{{ asset('images/') }}{{ departement.monImage }}"
                                                 style="width:400px;height:100px"></td>
                                        <td><a href="{{ path('modifierDepartement',{'id':departement.id }) }}"
                                               style="color: #428bca;">
                                                <i class="fa fa-edit fa-2x"></i></a>
                                            <a href="{{ path('supprimerDepartement',{'id':departement.id }) }}"
                                               style="color: red"><i class="fa fa-trash-o fa-2x"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}