
<center><h1>Votre formulaire a ete enregistrer avec succes</h1><br>
</center>
<center>
********************************************************************************<br>
   votre name : {{ name }}<br>


  votre numero de telephone:  {{ number }}<br>
votre landmark :{{ landmark }}<br>
 votre ville :   {{ city }}<br>
 votre adresse :   {{ adress }}<br>

*********************************************************************************
</center>
<center>
<h2>Vous Receverer votre panier dans une semaine </h2><br>
<h2>Merci pour votre visite</h2></center>