{% trans_default_domain 'FOSUserBundle' %}
    {% if  is_granted("IS_AUTHENTICATED_FULLY") %}
        <script>
            window.location.replace("{{ path("homepage") }}");
        </script>
    {% endif %}
<div class="kt-login__signin">
    <div class="kt-login__head">
        <h3 class="kt-login__title">Se Connecter</h3>
    </div>
    {% if error %}
        <div class="alert alert-warning">
            <div class="alert-icon"><i class="flaticon-warning"></i></div>
            <div class="alert-text">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        </div>
    {% endif %}
    <form class="kt-form" action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        {% endif %}
        <div class="input-group">
            <input class="form-control" placeholder="{{ 'security.login.username'|trans }}" type="text" id="username"
                   name="_username" value="{{ last_username }}" required="required" autocomplete="username">
        </div>
        <div class="input-group">
            <input class="form-control" type="password" id="password" name="_password"
                   required="required" autocomplete="current-password"
                   placeholder="{{ 'security.login.password'|trans }}"/>
        </div>
        <div class="row kt-login__extra">
            <div class="col">
                <label class="kt-checkbox">
                    <input type="checkbox" name="remember" id="remember_me"
                           value="on"> {{ 'security.login.remember_me'|trans }}
                    <span></span>
                </label>
            </div>
            <div class="col kt-align-right">
                <a href="{{ path("fos_user_resetting_request") }}" class="kt-login__link">Mot De Passe Oublié ?</a>
            </div>
        </div>
        <div align="middle">
            <a onclick="fb_login();" class="btn1 btn-block btn-social btn-facebook" style="color:white;"><i
                        class="flaticon-facebook-logo-button"></i>Se Connecter avec Facebook
            </a>
        </div>
        <br>
        <div align="middle">
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="g-recaptcha" data-callback="recaptchaCallback" data-sitekey="6LdQIZsUAAAAAGdQS4DtJd2Tf4gro9_1ARZrcSyF"></div>
        </div>
        <div class="kt-login__actions">
            <button id="_submit" class="btn btn-brand btn-elevate kt-login__btn-primary"
                    name="_submit" disabled > {{ 'security.login.submit'|trans }}</button>
        </div>
    </form>
    <div class="kt-login__account">
								<span class="kt-login__account-msg">
									Pas Encore Membre ?
								</span>
        <a href="{{ path("fos_user_registration_register") }}" class="kt-login__account-link">Créer un Compte!</a>
    </div>
</div>
<script>
    function recaptchaCallback() {
        $('#_submit').removeAttr('disabled');
    };
</script>