{{ form_start(form) }}

<label for="news_content" class="required">Category</label>


<select id ="type" >
    {% for category in categories %}
        <option value="{{ category.id }}">{{ category.nom }}</option>
    {% endfor %}
</select>

<script src="{{ asset ('jQuery/jquery-3.3.1.js') }}"></script>

<label id = "label2" for="news_content1" class="required">Category1</label>
<script>
    $(function(){
        $("#type").change(function(){

            {#if($('#type option:selected').val()=="as")#}
            {# $("#label2").text($('#type option:selected').val());#}
             $nomm=$(('#type option:selected').val());
            window.location.href="{{ absolute_url(asset('')) }}app_dev.php/CreateD/{{ ('#type option:selected').val()}}";


        });

    });



</script>
{{ form_widget(form) }}
{{ form_end(form) }}