<div class="invoice overflow-auto">
    <div style="margin-left: 20px;margin-right: 20px">

        <main>
            <div class="row contacts">
                <div class="col invoice-to">
                    <div class="text-gray-light">Devis pour:</div>
                    <h2 class="to">{{ user.firstname }} {{ user.lastname }} </h2>
                    <div class="address">{{ user.address }}</div>
                    <div class="email">Type du Devis: {{ type.nom }}<a href="mailto:john@example.com"></a></div>
                </div>
                <div class="col invoice-details">
                    <h1 class="invoice-id">Devis Num {{ devis.id }}</h1>
                    <div class="date">Date du Devis: {{ devis.dateDevis |date('d-m-Y')}}</div>
                    <div class="date"></div>
                </div>
            </div>
            <table border="10" cellspacing="10" cellpadding="10">
                <thead>
                <tr>
                    <th>#</th>
                    <th class="text-left">DESCRIPTION</th>
                    <th class="text-right">Etat</th>
                    <th class="text-right">Prix</th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td class="no">01</td>
                    <td class="text-left"><h3>{{ type.champ1}}</h3></td>
                    <td class="unit">{{ devis.champ1}}</td>
                    <td class="qty"></td>
                </tr>
                <tr>
                    <td class="no">02</td>
                    <td class="text-left"><h3>{{ type.champ2}}</h3></td>
                    <td class="unit">{{ devis.champ2}}</td>
                    <td class="qty"></td>
                </tr>
                <tr>
                    <td class="no">03</td>
                    <td class="text-left"><h3>{{ type.champ3}}</h3></td>
                    <td class="unit">{{ devis.champ3}}</td>
                    <td class="qty"></td>
                </tr>
                <tr>
                    <td class="no">04</td>
                    <td class="text-left"><h3>{{ type.champ4}}</h3></td>
                    <td class="unit">{{ devis.champ4}}</td>
                    <td class="qty"></td>
                </tr>
                <tr>
                    <td class="no">05</td>
                    <td class="text-left"><h3>{{ type.critere1}}</h3></td>
                    <td class="unit">{{ devis.critere1}}</td>
                    <td class="qty">{{ type.devis1}}</td>
                </tr>
                <tr>
                    <td class="no">06</td>
                    <td class="text-left"><h3>{{ type.critere2}}</h3></td>
                    <td class="unit">{{ devis.critere2}}</td>
                    <td class="qty">{{ type.devis2}}</td>
                </tr>
                <tr>
                    <td class="no">07</td>
                    <td class="text-left"><h3>{{ type.critere3}}</h3></td>
                    <td class="unit">{{ devis.critere3}}</td>
                    <td class="qty">{{ type.devis3}}</td>
                </tr>
                <tr>
                    <td class="no">08</td>
                    <td class="text-left"><h3>{{ type.critere4}}</h3></td>
                    <td class="unit">{{ devis.critere4}}</td>
                    <td class="qty">{{ type.devis4}}</td>
                </tr>

                </tbody>
                <tfoot>

                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">TOTAL</td>
                    <td>{{ devis.total}}</td>
                </tr>
                </tfoot>
            </table>

        </main>
        <footer>
            Invoice was created on a computer and is valid without the signature and seal.
        </footer>
    </div>
    <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
    <div></div>
</div>