{% trans_default_domain 'FOSUserBundle' %}

<div class="kt-login__signin">
    <div class="kt-login__head">
        <h3 class="kt-login__title">Réinitialiser votre Mot de Passe</h3>
    </div>
{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'kt-form' } }) }}

    <div class="input-group">
        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control' , 'placeholder': 'form.new_password'|trans }}) }}
    </div>
    <div class="input-group">
        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control' , 'placeholder': 'form.new_password_confirmation'|trans }}) }}
    </div>
    {{ form_widget(form) }}
    <div class="kt-login__actions">
        <input class="btn btn-brand btn-elevate kt-login__btn-primary" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
{{ form_end(form) }}
</div>
<script src="{{ asset('jQuery/jquery-3.3.1.js') }}"></script>
<script>

    $(function()
    {
        $("#fos_user_resetting_form").css('color','red');
    });



</script>