{% extends 'baseAdmin.html.twig' %}
{% block supcontent %}
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                Actualitéss </h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a class="kt-subheader__breadcrumbs-link">
                    Ajout </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}

    <div class="kt-portlet kt-portlet--last kt-portlet--head-lg kt-portlet--responsive-mobile" id="kt_page_portlet">

        <div class="kt-portlet__body">
            {{ form_start(form, {'attr': {'class': 'kt-form'}}) }}
            <div class="row">
                <div class="col-xl-2"></div>
                <div class="col-xl-8">
                    <div class="kt-section kt-section--first">
                        <div class="kt-section__body">
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Nom</label>
                                <div class="col-9">
                                    {{ form_widget(form.nom , {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Champ 1 :</label>
                                <div class="col-9">
                                    {{ form_widget(form.champ1 , {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Champ 2 :</label>
                                <div class="col-9">
                                    {{ form_widget(form.champ2 , {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Champ 3 :</label>
                                <div class="col-9">
                                    {{ form_widget(form.champ3 , {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Champ 4 :</label>
                                <div class="col-9">
                                    {{ form_widget(form.champ4 , {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Critere 1 :</label>
                                <div class="col-9">
                                    {{ form_widget(form.critere1 , {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Devis 1 :</label>
                                <div class="col-9">
                                    {{ form_widget(form.devis1 , {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Critere 2 :</label>
                                <div class="col-9">
                                    {{ form_widget(form.critere2 , {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Devis 2 :</label>
                                <div class="col-9">
                                    {{ form_widget(form.devis2 , {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Critere 3 :</label>
                                <div class="col-9">
                                    {{ form_widget(form.critere3 , {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Devis 3 :</label>
                                <div class="col-9">
                                    {{ form_widget(form.devis3 , {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Critere 4 :</label>
                                <div class="col-9">
                                    {{ form_widget(form.critere4 , {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Devis 4 :</label>
                                <div class="col-9">
                                    {{ form_widget(form.devis4 , {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Prix Initial : </label>
                                <div class="col-9">
                                    {{ form_widget(form.prixInitial , {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Image :</label>
                                <div class="col-9">
                                    {{ form_widget(form.image , {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label"> Description : </label>
                                <div class="col-9">
                                    {{ form_widget(form.description , {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                            {{ form_widget(form) }}
                            <input type="submit" class="btn btn-brand" value="Ajouter"/>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}




