<h1> Recherche TypeAssurance</h1>
<form method="POST">
   nom <input type="text" name="nom">
     <input type="submit" name= "submit" value="rechercher">
</form>
<table border="1">
    <tr>
        <td>id</td>
        <td>nom</td>
        <td>champs1</td>
        <td>champs2</td>
        <td>champs3</td>
        <td>champs4</td>
        <td>critere1</td>
        <td>devis1</td>
        <td>critere2</td>
        <td>devis2</td>
        <td>critere3</td>
        <td>devis3</td>
        <td>critere4</td>
        <td>devis4</td>
        <td>prix</td>
        <td>supprimer</td>
        <td>modifier</td>




    </tr>

    {% for l in m %}
    <tr>
        <td>{{l.id }}</td>
        <td>{{l.nom }}</td>
        <td>{{l.champs1 }}</td>
        <td>{{l.champs2 }}</td>
        <td>{{l.champs3 }}</td>
        <td>{{l.champs4 }}</td>
        <td>{{l.devis1 }}</td>
        <td>{{l.critere1 }}</td>
        <td>{{l.devis2 }}</td>
        <td>{{l.critere2 }}</td>
        <td>{{l.devis3 }}</td>
        <td>{{l.critere3 }}</td>
        <td>{{l.devis4 }}</td>
        <td>{{l.critere4 }}</td>
        <td>{{l.PrixInitial }}</td>
        <td> <a href="{{path('esprit_test_supprimer',{'id':l.id}) }}">supprimer</a></td>
        <td> <a href="{{path('esprit_test_modifier',{'id':l.id}) }}">modifier</a></td>
    </tr>
    {% endfor %}


</table>