{% extends 'base.html.twig' %}
{% block test %}
{% endblock %}
{% block content %}
<script src="{{ asset ('jquery/jquery-3.3.1.js') }}"></script>
<section id="intro1" class="clearfix">
</section>
<script src="{{ asset ('jquery/jquery-3.3.1.js') }}"></script>
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Star Rating</title>
    <meta name="viewport" content="initial-scale=1,width=device-width">
    <link rel="stylesheet" href="{{ asset('css/rating.css') }}">
    <link rel="stylesheet" href="{{ asset('css/design.css') }}">

    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>
<div class="col-lg-11 right-blog-info text-right" style="margin-top: 20px">
<x-star-rating id="rat" value="1" number="5"></x-star-rating>
</div>
{% for post in posts %}
<div class="text-center"><h1 class="h1">  {{ post.nompublicite }}</h1></div>
    <div  style="margin-top: 50px" class="text-center">
        <div class="blog-grid-top" >
            <div class="b-grid-top" >
                <div class="blog_info_left_grid">

                    <img  style="width: 800px "  src="{{   asset('images/'~post.imagepub)}}" class="img-fluid" alt="">

                </div>
            </div>


        </div>
    </div>
<div class="text-center">

    <div> <h2>{{ post.description }}</h2></div>

    <div><label id = "label2" for="news_content1" class="required" nu="{{ post.id }}"></label></div>
</div>
    {% endfor %}
<script src="{{ asset('js/rating.js') }}"></script>



<script>
    $(document).ready(function(){
        var label = $('#label2');
        var id = label.attr('nu');
        $.ajax(
            {
                type: 'POST',
                url: '{{ absolute_url(asset('')) }}app_dev.php/Vue',
                data: {id:id},


            }
        )
    });




    $(function () {
        $("#rat").on("click", function () {
            var label = $('#label2');
            var id = label.attr('nu');
            var note = $(this).val();
            $.ajax(
                {
                    type: 'POST',
                    url: '{{ absolute_url(asset('')) }}app_dev.php/Rat',
                    data: {note:note, id:id},


                }
            )

        });
    });


</script>

</body>
</html>
{% endblock %}

