{% extends 'baseAdmin.html.twig' %}



{% block content %}
    <body>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="row">
            <div class="col-lg-6">



                <div class="kt-section__content">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th>NOM DU CLIENT</th>
                            <th>DATE INCIDENT</th>
                            <th>IMAGE 1</th>
                            <th>IMAGE 2</th>
                            <th>IMAGE 3</th>











                        </tr>
                        </thead>
                        <tbody>



                        {% for inc in incidents %}
                            <tr>
                                <td>{{ inc.idClient }}</td>
                                <td>{{ inc.dateIncident|date('Y-m-d')  }}</td>
                                <td>{{ inc.image1() }}</td>
                                <td>{{ inc.image2()}}</td>
                                <td>{{ inc.image3() }}</td>


                            </tr>

                        {% endfor %}









                        </tbody>
                    </table>


                </div>
            </div>




        </div>


    </div>

    </div>
    </div>

    </body>
{% endblock %}