{%  extends 'baseAdmin.html.twig' %}



{% block content %}
 <script src="{{ asset('jQuery/jquery-3.3.1.js') }}"> </script>
    <body>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content" >
        <div class="row" id="div">
            <div class="col-lg-6">



                <div class="kt-section__content">
                    <div class="text-center" >
                        <select style="..." class="custom-select" id="et">
                            <option value="FILTRER">FILTRER</option>
                            <option value="All">All</option>
                            <option value="Incidents qui ont depassé 3 jours">Incidents qui ont depassé 3 jours</option>
                        </select>
                    </div>
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th>NOM DU CLIENT</th>
                            <th>DATE INCIDENT</th>
                            <th>IMAGE 1</th>
                            <th>IMAGE 2</th>
                            <th>IMAGE 3</th>
                            <th>ETAT</th>







                            <th>Affecter à un Expert</th>

                        </tr>
                        </thead>
                        <tbody>



                        {% for incident in incidents %}
                            <tr>
                                <td>{{ incident.idClient }}</td>
                                <td>{{ incident.dateIncident|date('Y-m-d')  }}</td>
                                <td>{{ incident.image1 }}</td>
                                <td>{{ incident.image2}}</td>
                                <td>{{ incident.image3 }}</td>
                                <td>{{ incident.etat }}</td>

                                <td><button type="button" class="btn btn-warning" ><a href ="{{ path('_affecterincident',{'id':incident.id}) }}">Affecter Incident</a></button></td>








                            </tr>
                        {% endfor %}
                        <script>
                            $(function(){
                                $("#et").change(function(){

                                    var nom=$('#et option:selected').val();

                                    if(nom.match('Incidents qui ont depassé 3 jours'))
                                    {
                                        $.ajax(
                                            {
                                                url:"{{ path('_Tri1') }}",
                                                type:'POST',
                                                success:function (reponse) {
                                                    $("#div").html(reponse)

                                                }

                                            }
                                        )}

                                });

                            });
                        </script>









                        </tbody>
                    </table>
                </div>
            </div>




        </div>


    </div>

    </div>
    </div>

    </body>
    </tbody>
    </table>
    </div>

    <script>
        $(function(){
            $("#et").change(function(){

                var date_incident=$('#et option:selected').val();

                if(date_incident.match('Incidents qui ont depassé 3 jours'))
                {
                    $.ajax(
                        {
                            url:"{{ path('_Tri') }}",
                            type:'POST',
                            success:function (reponse) {
                                $("#div").html(reponse)

                            }

                        }
                    )}

                if(date_incident.match('All'))
                {
                    $.ajax(
                        {
                            url:"{{ path('_Tri') }}",
                            type:'POST',
                            success:function (reponse) {
                                $("#div").html(reponse)

                            }

                        }
                    )
                }
            });

        });
    </script>
{% endblock %}
