{%  extends 'baseAdmin.html.twig' %}



{% block content %}
    <body>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="row">
            <div class="col-lg-6">



                <div class="kt-section__content">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th>Nom Du Client</th>
                            <th>Heure </th>
                            <th>Lieu</th>









                            <th>Modifier</th>
                            <th>Supprimer</th>

                        </tr>
                        </thead>
                        <tbody>



                        {% for rendezvous in rendezvouss %}
                            <tr>
                                <td>{{ rendezvous.idClient }}</td>
                                <td>{{ rendezvous.heure|date('H:i:s')  }}</td>

                                <td>{{ rendezvous.lieu }}</td>







                                <td><button type="button" class="btn btn-warning" ><a href ="{{ path('_modifierrendezvous',{'id':rendezvous.id}) }}">Modifier</a></button></td>
                                <td><button type="button" class="btn btn-danger" > <a href ="{{ path('_supprimerrendezvous',{'id':rendezvous.id}) }}">Supprimer</a></button></td>



                            </tr>
                        {% endfor %}









                        </tbody>
                    </table>
                </div>
            </div>




        </div>


    </div>

    </div>
    </div>

    </body>
{% endblock %}
