<div class="row" id="div">
    <div class="col-lg-6">



        <div class="kt-section__content">
            <div class="text-center" >
                <select style="..." class="custom-select" id="et">
                    <option value="FILTRER">FILTRER</option>
                    <option value="All">All</option>
                    <option value="Incidents qui ont depassé 3 jours">Incidents qui ont depassé 3 jours</option>
                </select>
            </div>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>NOM DU CLIENT</th>
                    <th>DATE INCIDENT</th>
                    <th>IMAGE 1</th>
                    <th>IMAGE 2</th>
                    <th>IMAGE 3</th>
                    <th>ETAT</th>
                    <th>Affecter à un Expert</th>

                </tr>
                </thead>
                <tbody>



                {% for incident in incidents %}
                    <tr>
<td>{{ incident.idClient() }}</td>
                        <td>{{ incident.dateIncident|date('Y-m-d')  }}</td>
                        <td>{{ incident.image1() }}</td>
                        <td>{{ incident.image2()}}</td>
                        <td>{{ incident.image3() }}</td>
                        <td>{{ incident.etat() }}</td>

                        <td><button type="button" class="btn btn-warning" ><a href ="{{ path('_affecterincident',{'id':incident.id}) }}">Affecter Incident</a></button></td>
                      </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>




</div>
